

body{
    margin: 0px;
    padding: 0px;
    background-image: url(math.jpg);
    position: inherit;
}

textarea#number {
    font-size: 25px;
    border: 2px solid #000;
}

div.wrapper {
    padding: 0px;
    margin: 0px;
    display: grid;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Arvo', serif;
    position: relative;
}

div.mainBox {
    display: block;
    border-radius: 5px;
    margin: 10rem auto;
    border: 4px solid #a82810;
    position: relative;
    border-radius: 3rem;
}
h1.title {
    text-align: center;
    color: #fff;
}

div.mainBox > input.numbers {
    margin: 5px;
    display: block;
    width: 95%;
}

div.calcBox {
    border: 4px solid #a82810;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
}

.divide {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.plus {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.minus {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.multiply {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}
.calc7 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc8 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc9 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.c {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc4 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc5 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc6 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.CE {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc1 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc2 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc3 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.equal {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.calc0 {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}

.C {
    background-color: #aedfba;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 35px;
    color: #444344;
    margin: 10px auto;
    width: 75px;
    height: 75px;
    border: 6px solid #a82810;
    border-radius: 5px;
}
.divide:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.plus:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.minus:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.multiply:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc7:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc8:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc9:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.C:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc4:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc5:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc6:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.CE:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc1:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc2:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc3:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.equal:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}

.calc0:active {
    background-color: #92cea1;
    border: 3px solid rgb(62, 76, 85);
}